body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0EFE9;
}

.content-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content {
    padding: 35px;

    position: relative;
    width: 100%;
    max-width: 455px;
    height: 705px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.33);
    margin: auto;
}

.content-button-add {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #50E3A4;
    color: #46BE8B;
    font-size: 55px;
    bottom: -40px;
    left: calc(50% - 40px);
    cursor: pointer;
}

.content-button-add:active {
    color: #50E3A4;
    background-color: #46BE8B;
}

